extends components/layout-inner
include components/banner
include components/menu
include components/share-button
include components/invest-card
include components/growth-goal

block title
  | Устойчивое развитие
block vars
block content
  +menu
  .inner.growth
    +banner({
      breadcrumbs: [
        { link: '#', linkName: 'Главная' },
        { link: '#', linkName: 'Устойчивое развитие' }
      ],
      image: '/common/images/banner__bg-growth.jpg',
      title: 'Устойчивое развитие'
    })
      +share-button
    .growth__cards.pt-64.pb-32
      .container
        .row
          .col-4.mb-32
            +invest-card({
              title: 'Подходы и политики',
              type: 'text',
              content: 'Политики Компании РУСАЛ в области охраны труда, промышленной и пожарной безопасности, экологии, качества и другие',
              link: '#'
            }, false, true)
          .col-4.mb-32
            +invest-card({
              title: 'Социальное инвестирование',
              type: 'text',
              content: 'Реализация социальных и благотворительных программ',
              link: '#'
            }, false, true)
          .col-4.mb-32
            +invest-card({
              title: 'Здоровье и охрана труда',
              type: 'text',
              content: 'Принципы и обязательства в области охраны труда',
              link: '#'
            }, false, true)
          .col-4
            .mb-32
              +invest-card({
                title: 'Охрана окружающей среды',
                type: 'text',
                content: 'На всех стадиях производственного цикла ОК «РУСАЛ» стремится последовательно минимизировать воздействие на окружающую среду',
                link: '#'
              }, false, true)
            .mb-32
              +invest-card({
                title: 'Отчёт об устойчивом развитии',
                type: 'text',
                content: 'Политики Компании РУСАЛ в области охраны труда, промышленной и пожарной безопасности, экологии, качества и другие',
                link: '#'
              }, false, true)
          .col-8.mb-32
            +invest-card({
              title: 'Ценности Компании',
              type: 'article'
            })
              .row.mt-32
                .growth__worth.col-10
                  ul
                    li= 'уважение личных прав и интересов наших сотрудников, требований клиентов, условий взаимодействия, выдвигаемых деловыми партнерами, обществом;'.normalize('NFC')
                    li= 'справедливость, предполагающая оплату труда в соответствии с достигнутыми результатами и равные условия для профессионального роста;'.normalize('NFC')
                    li= 'честность в отношениях и предоставлении информации, необходимой для выполнения работы;'.normalize('NFC')
                    li= 'эффективность как стабильное достижение максимальных результатов во всем, что мы делаем;'.normalize('NFC')
                    li= 'готовность противостоять тому, что мы не приемлем, а также несение личной ответственности за последствия решений, которые мы принимаем;'.normalize('NFC')
                    li= 'забота, проявляемая в нашем стремлении оградить людей от любого вреда для их жизни и здоровья и сохранить окружающую нас среду;'.normalize('NFC')
                    li= 'доверие к сотрудникам, позволяющее делегировать полномочия и ответственность по принятию решений и их реализации.'.normalize('NFC')
    .growth__goals
      .container
        .row.px-40
          .col-7
            .h3 Приоритетные цели и задачи Устойчивого Развития ― 2030*
        .row.growth__goals-line
          .col-6
            +growth-goal(
              '/common/images/growth__goal-1.svg',
              'Хорошее здоровье и благополучие',
              'Обеспечение здорового образа жизни и содействие благополучию для&nbsp;всех в любом возрасте',
              [
                'Борьба с эпидемиями СПИДа, туберкулеза, малярии итропических болезней и другими инфекционными заболеваниями',
                'Обеспечение услуг здравоохранения, доступ к качественным основным медико­санитарным услугам и к безопасным, эффективным, качественным и недорогим основным лекарственным средствам и вакцинам для всех',
                'Оказание содействия проведению исследований и разработке вакцин и&nbsp;лекарственных препаратов для лечения инфекционных и&nbsp;неинфекционных заболеваний'
              ]
            )
          .col-6
            +growth-goal(
              '/common/images/growth__goal-2.svg',
              'Качественное образование',
              'Обеспечение всеохватного и справедливого качественного образования и поощрение возможности обучения на протяжении всей жизни для всех',
              [
                'Обеспечение для всех женщин и мужчин доступа к недорогому и&nbsp;качественному профессионально­техническому и высшему образованию, в том числе университетскому образованию',
                'Увеличение числа молодых и взрослых людей, обладающих востребованными навыками, в том числе профессиональнотехническими навыками, необходимыми для трудоустройства, получения достойной работы и ведения предпринимательской деятельности',
                'Увеличение во всем мире количества стипендий, предоставляемых развивающимся странам, особенно наименее развитым странам'
              ]
            )
        .row.growth__goals-line
          .col-6
            +growth-goal(
              '/common/images/growth__goal-3.svg',
              'Борьба с изменением климата',
              'Принятие срочных мер по борьбе с изменением климата и его последствиями',
              [
                'Снижение прямых и косвенных энергетических выбросов парниковых газов',
                'Повышение устойчивости и способности адаптироваться к климатическим изменениям и стихийным бедствиям'
              ]
            )
          .col-6
            +growth-goal(
              '/common/images/growth__goal-4.svg',
              'Ответственное потребление и производство',
              'Обеспечение перехода к рациональным моделям потребления и&nbsp;производства',
              [
                'Рациональное освоение и эффективное использование природных ресурсов',
                'Уменьшение объема отходов путем принятия мер по предотвращению их&nbsp;образования, их сокращению, переработке и повторному использованию',
                'Применение устойчивых методов производства и предоставление информации о рациональном использовании ресурсов в своих отчетах'
              ]
            )
        .row.growth__goals-line
          .col-6
            +growth-goal(
              '/common/images/growth__goal-5.svg',
              'Достойная работа и экономический рост',
              'Содействие поступательному, всеохватному и устойчивому экономическому росту, полной и производительной занятости и&nbsp;достойной работе для всех',
              [
                'Повышение уровня производительности в экономике посредством диверсификации, технической модернизации и инновационной деятельности, в том числе путем уделения особого внимания секторам с&nbsp;высокой добавленной стоимостью и трудоемким секторам',
                'Постепенное повышение глобальной эффективности использования ресурсов в системах потребления и производства и стремление к тому, чтобы экономический рост не сопровождался ухудшением состояния окружающей среды',
                'Сокращение доли молодежи, которая не&nbsp;работает, не&nbsp;учится и&nbsp;не&nbsp;приобретает профессиональных навыков',
                'Защита трудовых прав и содействие обеспечению надежных и&nbsp;безопасных условий работы для всех трудящихся'
              ]
            )
          .col-6
            +growth-goal(
              '/common/images/growth__goal-6.svg',
              'Сохранение экосистем суши',
              'Защита и восстановление экосистем суши и содействие их&nbsp;рациональному  использованию, рациональное лесопользование, борьба с опустыниванием, прекращение и обращение вспять процесса деградации земель и прекращение процесса утраты биоразнообразия',
              [
                'Сохранение, восстановление и рациональное использование наземных и внутренних пресноводных экосистем и их услуг, в том числе лесов, водно­болотных угодий, гор и засушливых земель',
                'Внедрение методов рационального использования всех типов лесов, восстановление деградировавших лесов и значительное расширение масштабов лесонасаждения и лесовосстановления',
                'Принятие мер по сдерживанию деградации природных сред обитания, защита биологического разнообразия'
              ]
            )
    .growth__footer
      .container
        .px-40
          span.growth__footer-star *
          = 'Деятельность ОК «РУСАЛ» в области устойчивого развития и корпоративной социальной ответственности основана на лучшей практике, международных и российских стандартах, а также принципах, включая 10 принципов Глобального договора; 17 целей устойчивого развития ООН; положения Социальной хартии российского бизнеса и др.'.normalize('NFC')
          br
          | «РУСАЛ» осознает значимость всех 17 целей и внедряет изменения, соответствующие ЦУР­2030, в системы управления аспектами устойчивого развития в деятельности Компании. Однако, проведя переговоры и анализ роли Компании в достижении ЦУР, были определены ключевые цели, на достижение которых ОК «РУСАЛ» может оказать наибольшее влияние.
