extends components/layout-inner
include components/menu
include components/timeline
include components/backlink
include components/breadcrumbs

block title
  | История РУСАЛ
block vars
  -
    var pageNavigation = {
      backlink: '/',
      breadcrumbs: [
        {
          link: '/',
          linkName: 'Главная'
        },
        {
          linkName: 'История'
        }
      ]
    }
    var timeline = [
      {
        preview: {
          text: 'Зарождение',
          anchor: 'item-1',
        },
        content: {
          description: `
            <h3 data-history-image="history-images-01">Зарождение алюминиевой отрасли в СССР</h3>
            <div>
              <p>История РУСАЛа тесно связана с историей всей алюминиевой отрасли страны. Первый в России алюминиевый завод был запущен в годы 1-й пятилетки в городе Волхове (1932). В 1933 был запущен аналогичный завод на Украине (в Запорожье). В конце 1930-х началась добыча бокситов на Северном Урале, производство глинозема и алюминия на Уральском алюминиевом заводе.</p>
              <p>В годы Великой Отечественной войны из-за потери Запорожского и угрозы захвата Волховского заводов и большой потребности авиационной промышленности в алюминии было спешно начато строительство заводов в тыловых районах страны: Краснотурьинске и Новокузнецке. В послевоенные годы в связи с началом холодной войны и гонкой вооружений потребность в алюминии резко выросла.</p>
              <p>Из-за большой энергоёмкости производства алюминия сооружение новых предприятий было начато в Восточной Сибири и приурочено к строительству гигантских гидроэлектростанций Ангаро-Енисейского каскада. В 1960-х в Красноярске и Братске были построены два крупнейших в мире алюминиевых завода. Для обеспечения их глинозёмом, который к этому времени производился в основном из импортного сырья, были запущены предприятия в Ачинске и Николаеве.</p>
              <p>Последний алюминиевый завод, введённый в эксплуатацию в советское время — Саяногорский в Хакасии (1985). В конце 1980-х СССР занимал первое место в мире по выпуску алюминия (сейчас Россия занимает второе место после Китая).</p>
            </div>
          `,
          images: [
            {
              id: 'history-images-01',
              url: 'common/images/history__image--1.jpg'
            }
          ]
        }
      },
      {
        preview: {
          text: '1990е',
          anchor: 'item-2'
        },
        content: {
          description: `
            <h3 data-history-image="history-images-02">1990е</h3>
            <div>
              <p>В начале 90-х годов российская алюминиевая промышленность находилась в крайне тяжелом положении. Гиперинфляция и отмена бюджетного финансирования парализовали работу заводов, а распад СССР лишил их связи с половиной поставщиков сырья, расположенных в бывших союзных республиках. Внутренний рынок, испытавший на себе «шоковую терапию» экономических реформ, сократил потребление алюминия почти в 9 раз. С масштабной приватизацией госпредприятий, начало которой приходится на 1993 год, алюминиевая отрасль также переходит в частную собственность.</p>
              <p>В 1994 году гендиректором Саяногорского алюминиевого завода становится Олег Дерипаска, которые ранее занимался торгами н Московской товарной бирже и возглавлял компанию «Росалюминпродукт». Прибыль от деятельности Саяногорского алюминиевого завода позволяет руководству предприятия построить фольгопрокатное предприятие САЯНАЛ, которое вскоре стало лучшим в отрасли по экологическим и технологическим показателям. В 1997 году на базе Саяногорского алюминиевого завода основана была компания «Сибирский алюминий» («Сибал»). В ее состав входят крупнейший в России производитель фольги «Саянская фольга» и Дмитровский опытный завод консервной ленты (Московская область). «Сибал» начинает строительство предприятия «Ростар» — завода по выпуску алюминиевых банок.</p>
              <p>К 1998 году группа «Сибирский алюминий» выросла в крупную вертикально-интегрированную структуру, обладающую мощной производственной базой и собственной сбытовой сетью. В ее состав входит Самарский металлургический завод, крупнейший в Европе производитель алюминиевого проката, а годом позднее «Сибирский алюминий» приобретает пакет акций украинского Николаевского глиноземного завода, одного из крупнейших поставщиков сырья для производства алюминия.</p>
            </div>
          `,
          images: [
            {
              id: 'history-images-02',
              url: 'common/images/history__image--2.jpg'
            }
          ]
        }
      },
      {
        preview: {
          text: '2000—2005',
          anchor: 'item-3'
        },
        content: {
          description: `
            <h3 data-history-image="history-images-03">2000—2005</h3>
            <div>
              <h4>2000</h4>
              <p>2000 год ознаменовался образованием компании РУСАЛ, в которой объединились активы СИБАЛа Олега Дерипаски и Millhouse Capital Романа Абрамовича. Компания, возглавляющая список крупнейших алюминиевых предприятий страны, выдавала ¾ российского производства алюминия, вошла в мировую тройку с Alcoa (США) и Alcan (Канада).</p>
            </div>
            <div>
              <h4>2002</h4>
              <p>К 2002 году в состав компании уже входят фольгопрокатный завод АРМЕНАЛ в Армении и Белокалитвинское металлургическое объединение (БКМПО). Также в том году под управление РУСАЛа переходят два гвинейских предприятия — боксито-глиноземный завод Friguia и горнодобывающий комбинат КБК.  Производственная база компании расширяется за счет приобретения контрольного пакета акций Новокузнецкого алюминиевого завода (НкАЗ). В 2002 году закладывается основа для развития научно-технической базы компании — создается Инженерно-технологический центр, взявший под контроль научно-исследовательскую и проектно-изыскательную деятельность РУСАЛа.</p>
            </div>
            <div>
              <h4 data-history-image="history-images-04">2003</h4>
              <p>Специалисты ИТЦ РУСАЛа в рекордно короткие сроки разрабатывают новую уникальную технологию производства алюминия — РА-300, которая позволяет сократить потребление электроэнергии и увеличить срок эксплуатации электролизеров. В 2003 году новые электролизеры, работающие на силе тока 320 кА, запускаются в эксплуатацию на Саяногорском алюминиевом заводе.</p>
              <p>В состав РУСАЛа входит Всероссийский алюминиево-магниевый институт (ВАМИ), который взял на себя выполнение проектных работ в рамках инвестиционно-строительных проектов компании.</p>
            </div>
            <div>
              <h4>2004</h4>
              <p>Компания получает разрешение на разработку бокситовых месторождений в Гайане (Латинская Америка). В рамках соглашения РУСАЛа и правительства Гайаны образовано новое предприятие — Компания бокситов Гайаны (КБГ).</p>
            </div>
            <div>
              <h4>2005</h4>
              <p>В 2005 году РУСАЛ приобретает у Kaiser Aluminium 20% акций австралийского завода Queensland Alumina Limited (QAL), второго по величине глиноземного предприятия в мире.</p>
              <p>Также ИТЦ РУСАЛа завершает проект разработки нового электролизера, работающего на силе тока 400кА. В 2005 году электролизеры РА-400 запущены в эксплуатацию на Саяногорском алюминиевом заводе.</p>
              <p>Завершается сделка по продаже компании Alcoa двух прокатных заводов — СМЗ и БКМПО.</p>
            </div>
          `,
          images: [
            {
              id: 'history-images-03',
              url: 'common/images/history__image--3.jpg'
            },
            {
            id: 'history-images-04',
            url: 'common/images/history__image--4.jpg'
            }
          ]
        }
      },
      {
        preview: {
          text: '2006—2010',
          anchor: 'item-4'
        },
        content: {
          description: `
            <h3 data-history-image="history-images-05">2006—2010</h3>
            <div>
              <h4>2006</h4>
              <p>Рекордный в истории компании год с точки зрения развития сырьевой и производственной базы. В 2006 году РУСАЛ приобретает 56,2% итальянского глиноземного завода Eurallumina, завершает сделку по покупке катодного завода в китайской провинции Шаньси, становится владельцем контрольного пакета акций горнодобывающего предприятия Aroaima Mining Company в Гайане, а также покупает Бокситогорский алюминиевый завод.</p>
              <p>В декабре 2006 года РУСАЛ запускает Хакасский алюминиевый завод — первое предприятие в отрасли, построенное в России после 20-летнего перерыва.</p>
              <p>В этом же году РУСАЛ подписывает соглашение с российским производителем электроэнергии ГидроОГК (в 2008 г. переименована в РусГидро) о совместной реализации проекта БЭМО — энергометаллургического комплекса в Красноярском крае.</p>
            </div>
            <div>
              <h4>2007</h4>
              <p>В марте 2007 года завершается сделка по объединению российских РУСАЛа и СУАЛа с глиноземными активами швейцарской Glencore. Образованная в результате слияния Объединенная компания РУСАЛ становится крупнейшим в мире производителем алюминия.</p>
              <p>В октябре Хакасский алюминиевый завод досрочно выходит на полную мощность — 300 тысяч тонн алюминия в год.</p>
              <p>Также 2007 год дал старт двум крупным проектам — в мае РУСАЛ и Гидро ОГК приступают к строительству Богучанского алюминиевого завода, а в июне РУСАЛ начинает строительство Тайшетского алюминиевого завода.</p>
            </div>
            <div>
              <h4 data-history-image="history-images-06">2008</h4>
              <p>В апреле РУСАЛ приобретает у группы Онэксим более 25% компании «Норильский никель», крупнейшего в мире производителя никеля и палладия и одного из крупнейших производителя платины и меди.</p>
              <p>Также РУСАЛ и казахский холдинг Самрук создают совместное предприятие по добыче угля на Экибастузском каменном месторождении.</p>
              <p>РУСАЛ продолжает развивать сырьевую и производственную базу: в феврале компания запускает производство на заводе ALSON в Нигерии и вводит в эксплуатацию два новых корпуса электролиза на ИркАзе, а в марте приобретает китайский завод по производству катодных блоков Тайгу Катод.</p>
            </div>
            <div>
              <h4>2009</h4>
              <p>Компания столкнулась с серьёзными трудностями в ходе экономического кризиса конца 2000-х годов. Спрос и цена на алюминий снизились до исторического минимума, что отразилось на финансовом состоянии компании и повлекло за собой напряжение в отношениях с кредиторами.Комплекс мер, направленный на сокращение издержек, оптимизацию производства и снижение себестоимости, позволил компании пережить кризис с минимальными потерями и заложить основу для дальнейшего развития и диверсификации бизнеса. В октябре–декабре 2009 года UC Rusal подписала ряд соглашений с российскими и иностранными банками о реструктуризации кредитной задолженности на общую сумму $16,8 млрд. Так, долг перед рядом иностранных банков суммой $7,4 млрд был реструктурирован сроком на четыре года с правом пролонгации ещё на три. Всего в реструктуризации приняло участие более 70 кредитных институтов, было пересмотрено около 50 кредитных соглашений.</p>
              <p>Несмотря на сложности кризисного года, в июле 2009 года РУСАЛ завершил проект экологической модернизации Красноярского алюминиевого завода, реализация которой началась в 2004 году. Последним этапом проекта стал ввод новой газоочистной установки, работающей по современной технологии сухой очистки.</p>
            </div>
            <div>
              <h4 data-history-image="history-images-07">2010</h4>
              <p>В начале нового десятилетия РУСАЛ выходит на новый этап развития, разместив акции на Гонконгской фондовой бирже и бирже NYSE Euronext в Париже. В декабре 2010 года РДР (российские депозитарные расписки) РУСАЛа начинают торговаться на ММВБ и РТС.</p>
              <p>В апреле на Иркутском алюминиевом заводе вводится в строй пятая производственная серия, оснащенная электролизерами мощностью 300 кА, работающих по технологии обожженных анодов. Запуск 5-й серии электролиза завершает масштабную программу модернизации завода, реализация которой началась в 2005 году. Первые два корпуса новой серии были запущены в 2008 году.</p>
              <p>В июне РУСАЛ начинает сотрудничество с Гонконгским университетом науки и технологии (HKUST). Объединенная компания и HKUST будут вести совместную научно-исследовательскую деятельность и помогать профессорам и студентам российских и гонконгских вузов обмениваться знаниями и опытом.</p>
            </div>
          `,
          images: [
            {
              id: 'history-images-05',
              url: 'common/images/history__image--5.jpg'
            },
            {
              id: 'history-images-06',
              url: 'common/images/history__image--6.jpg'
            },
            {
              id: 'history-images-07',
              url: 'common/images/history__image--7.jpg'
            }
          ]
        }
      },
      {
        preview: {
          text: '2011—2015',
          anchor: 'item-5'
        },
        content: {
          description: `
            <h3 data-history-image="history-images-08">2011—2015</h3>
            <div>
              <h4>2011</h4>
              <p>В январе компания возобновила строительство Богучанского алюминиевого завода.</p>
              <p>В октябре 2011 года РУСАЛ рефинансировал свой кредитный портфель на общую сумму $11,4 млрд долларов США.</p>
            </div>
            <div>
              <h4>2012</h4>
              <b>Принимая вызов</b>
              <p>2012 год стал очередным вызовом для мировой алюминиевой отрасли — падение цен на металл на LME на 15,7% поставило на грань рентабельности значительную долю мирового алюминиевого производства.</p>
              <p>Чтобы минимизировать негативное влияние внешних факторов, РУСАЛ сконцентрировал усилия на достижении долгосрочной эффективности, контроле над издержками и развитии стратегических проектов.</p>
              <p>Была принята долгосрочная поэтапная программа замены неэффективных мощностей по производству первичного алюминия на современные производства с конкурентоспособной себестоимостью, которая предусматривала общее сокращение 275 тыс. тонн первичного алюминия на Надвоицком, Богословском, Волховском и Новокузнецком алюминиевых заводах.</p>
              <p>Одновременно в рамках Богучанского энерго-металлургического объединения (БЭМО) в течение всего года велось строительство Богучанского алюминиевого завода (БоАЗ), а в октябре состоялся пуск первых гидроагрегатов Богучанской ГЭС.</p>
            </div>
            <div>
              <h4>2013</h4>
              <p>В 2013 году мировые цены на алюминий продолжили свое падение и снизились на 8,6% — до 1 845 долларов США за тонну, поставив еще большее количество предприятий на грань рентабельности.</p>
              <p>Для повышения устойчивости бизнеса РУСАЛ приостановил выпуск алюминия на наименее эффективных алюминиевых заводах в западной части России, сократив объем производства металла на 7,6% в годовом выражении — до 3,857 млн тонн.</p>
            </div>
            <div>
              <h4 data-history-image="history-images-09">2014</h4>
              <p>В течение 2014 года за счет успешной реализации мер, направленных на снижение издержек, а также программы сокращения неэффективных мощностей, РУСАЛу удалось существенно снизить себестоимость производства, увеличить EBIDTA и маржу, а уже во втором квартале 2014 года получить чистую прибыль — впервые за пять предшествующих кварталов.</p>
              <p>Еще одним важным событием для РУСАЛа в 2014 году стало завершение процесса рефинансирования долга — компании удалось существенно улучшить структуру долга, увеличить средний срок погашения с 2 до 4,4 лет, а также продлить льготный период до 2016 года.</p>
              <p>РУСАЛ продолжил модернизацию производств с целью развития своей продуктовой линейки. В результате доля продукции с добавленной стоимостью достигла рекордного уровня — более 45%.</p>
              <p>Конец года ознаменовался для РУСАЛа и российской алюминиевой отрасли в целом важным событием — компания объявила о завершении строительства Богучанской ГЭС и вводе на ней последнего 9-го гидроагрегата. БоГЭС вместе со строящимся на тот момент Богучанским алюминиевым заводом формируют уникальный в современной России промышленный кластер БЭМО.</p>
            </div>
            <div>
              <h4>2015</h4>
              <p>В этих условиях очередного падения цен на алюминий РУСАЛ сосредоточился на повышении эффективности своей деятельности, снижении себестоимости производства, сокращении долговой нагрузки, а также на повышении качества своей продукции. В результате компания завершила год с положительной EBITDA в размере $2,015 млрд и чистой прибылью $671 млн, сократив при этом чистый долг на $771 млн.</p>
              <p>В 2015 году РУСАЛ продолжал строительство нового алюминиевого предприятия — Богучанского алюминиевого завода, первый пусковой комплекс которого к концу года вышел на пусконаладочный режим работы.</p>
            </div>
          `,
          images: [
            {
              id: 'history-images-08',
              url: 'common/images/history__image--8.jpg'
            },
            {
              id: 'history-images-09',
              url: 'common/images/history__image--9.jpg'
            }
          ]
        }
      },
      {
        preview: {
          text: '2016—2019',
          anchor: 'item-6'
        },
        content: {
          description: `
            <h3 data-history-image="history-images-10">2016—2019</h3>
            <div>
              <h4>2016</h4>
              <p>Компания продолжила реализацию стратегии по увеличению производства алюминиевой продукции высокого передела — с правительством Красноярского края был подписан протокол о намерениях по созданию инновационной промышленной территории Красноярская технологическая долина.</p>
              <p>В этом же году компания продала ямайский боксито-глиноземный комплекс Alpart китайской государственной промышленной группе JISCO.</p>
              <p>Стратегия компании производить больше продукции с добавленной стоимостью также отразилась в соглашении с немецкой компанией SAUER GmbH о намерениях в области развития технологии 3D-печати с применением алюминия для промышленного использования.</p>
              <p>Кроме того, также в 2016 году РУСАЛ и «ЭЛКА-Кабель» подписали соглашение о создании совместного предприятия по производству кабельно-проводниковой продукции «Богословский кабельный завод».</p>
            </div>
            <div>
              <h4 data-history-image="history-images-11">2017</h4>
              <p>РУСАЛ выпустил две серии еврооблигаций. Первый выпуск, стоимостью 600 миллионов долларов, был осуществлен в феврале, затем второй в апреле — стоимостью 500 миллионов долларов. Третий выпуск 5-летних еврооблигаций на сумму 500 млн долларов США компания провела в январе 2018 года. Также в феврале 2017 года были объявлены планы продажи семилетних облигаций на 10 млрд юаней в Китае. Это сделало РУСАЛ первой иностранной компанией, выпустившей облигации, номинированные в юанях.</p>
              <p>В середине 2017 года РУСАЛ закрыл программу Российских депозитарных расписок на Московской бирже. Программа РДР была запущена компанией и Сбербанком России в декабре 2010 года с целью обеспечения доступа к торгующимся на Гонконгской фондовой бирже акциям РУСАЛа широкого круга инвесторов, ориентированных на российские акции. В результате на Московской бирже торгуются обыкновенные акции компании.</p>
              <p>РУСАЛ продолжил и развитие сегмента downstream — был приобретен красноярский завод по производству дисков СКАД. Кроме того, в 2017 году РУСАЛ и НИТУ «МИСиС» создали Институт легких материалов и технологий, который стал площадкой для научно-исследовательских и опытно-конструкторских работ (НИОКР) по развитию современных технологий в области металлургии.</p>
            </div>
            <div>
              <h4>2018</h4>
              <p>В начале 2018 года РУСАЛ выделил в собственной структуре дивизион Даунстрим, куда вошли предприятия компании по производству фольги и тары, а также порошков и колесных дисков. В начале апреля 2018 года РУСАЛ принял решение произвести добровольный делистинг глобальных депозитарных акций с биржи Euronext в Париже. Данное решение стало частью стратегии по концентрации ликвидности акций компании на торговых площадках в Гонконге (ГКБФ) и Москве (Московская биржа).</p>
              <p>В 2018 году продолжилось и развитие производственных мощностей компании: в апреле началась добыча бокситов на Верхне-Щугорском месторождении в Республике Коми (балансовые запасы около 65 млн тонн руды).</p>
              <p>В июне, спустя 6 лет после приостановки и несмотря на санкции OFAC, возобновлена работа боксито-глиноземного комплекса (БГК) «Фригия» в Гвинее (проектная мощность комплекса составляет 650 тыс. тонн глинозема и 2,1 млн тонн бокситов в год). Также в июне 2018 года начался экспорт бокситовой с бокситового месторождения Диан-Диан в Гвинее.</p>
              <p>В рамках первого этапа, помимо ввода в эксплуатацию рудника мощностью 3 млн тонн бокситов в год, была построена вся сопутствующая инфраструктура (в частности, автодороги и железнодорожной ветки) по перевозке и складированию руды. Диан-Диан является крупнейшим в мире месторождением бокситов с объемом доказанных запасов 564 млн тонн.</p>
              <b data-history-image="history-images-12">2018 — Санкции</b>
              <p>Серьезным вызовом для компании стало включение РУСАЛа в список лиц и организаций, находящихся под санкциями США.</p>
              <p>В первые месяцы после объявления санкций РУСАЛ был вынужден сократить отгрузки готовой продукции, а заключение новых соглашений с клиентами стало затруднено. Одним из результатов ограничительных мер со стороны США стало закрытие Надвоицкого алюминиевого завода (предприятие «Русский радиатор» на базе завода продолжило свою работу), а также сокращение производства на АРМЕНАЛе.</p>
              <p>Деловые круги и правительства стран присутствия компания неоднократно выражали озабоченность ситуацией вокруг РУСАЛа, а также стремительным ростом цен на алюминий и глинозем в результате включения РУСАЛа в санкционные списки. В апреле 2018 года цена на алюминий на LME обновила 6-летний рекорд и превысила 2300 долл. США за тонну.</p>
              <p>27 апреля 2018 года председатель совета директоров En+ Group лорд Грегори Баркер представил план по выводу компании из санкционных списков США («План Баркера»). План предусматривал, среди прочего, снижение пакета акций Олега Дерипаски до уровня ниже 50% и назначение независимых директоров в совет директоров En+ Group и РУСАЛа. 19 декабря 2018 года министерство финансов США уведомило Конгресс США о намерении снять санкции с En+ Group и РУСАЛа после изменения корпоративной структуры группы компаний.</p>
              <p>В 2018 году акционеры РУСАЛа также поддержали перерегистрацию компании с острова Джерси на остров Октябрьский в Калининградской области. 8 февраля 2019 года вновь сформированный в соответствии с требованиями США совет директоров En+ Group подтвердил решение о перерегистрации En+ и «Русала» на территории России.</p>
              <p>В январе 2019 года РУСАЛ, а также En+ Group были исключены из санкционного списка, что является единственным подобным прецедентом.</p>
            </div>
            <div>
              <h4>2019</h4>
              <p>После исключения из санкционного списка OFAC РУСАЛ столкнулся с необходимостью заново налаживать взаимоотношения с клиентами и восстанавливать контрактные обязательства. В марте 2019 года в рамках Красноярского Экономического Форума состоялся официальный запуск в промышленную эксплуатацию первой серии Богучанского алюминиевого завода (БоАЗ), построенного в составе Богучанского энерго-металлургического объединения (БЭМО) усилиями РУСАЛа и РусГидро.</p>
              <p>Проектная мощность первой серии БоАЗ — 298 тыс. тонн алюминия в год.</p>
              <p>РУСАЛ продолжил наращивание производственных мощностей и за рубежом: в частности, компания и американский холдинг Braidy Industries Inc. объявили о намерении создать совместный проект по производству продукции плоского проката для американской автомобильной промышленности в Ашленде, штат Кентукки, США. Проектная мощность прокатного завода составит 500 000 тонн ленты горячего проката и 300 000 тонн готовой продукции холодного проката в год. Продукция завода будет предназначена для американской автомобильной индустрии, а сам прокат будет изготавливаться из металла Тайшетского алюминиевого завода, возведение которого РУСАЛ планирует завершить к концу 2020 года.</p>
              <p>В апреле 2019 года РУСАЛ успешно разместил на Московской бирже 10-летние облигации с офертой через 3 года номинальным объемом 15 млрд рублей. В мае 2019 года РУСАЛ получил лицензию на разработку Горячегорского нефелинового месторождения в Красноярском крае. По предварительным оценкам, запасы месторождения обеспечат загрузку комбината на более чем 60 лет работы.</p>
            </div>
          `,
          images: [
            {
              id: 'history-images-10',
              url: 'common/images/history__image--10.jpg'
            },
            {
              id: 'history-images-11',
              url: 'common/images/history__image--11.jpg'
            },
            {
              id: 'history-images-12',
              url: 'common/images/history__image--12.jpg'
            }
          ]
        }
      }
    ]

block content
  +menu
  .history
    .container
      .history__wrapper
        .history__timeline(data-timeline-container)
          +backlink(pageNavigation.backlink, 'Назад', 'dark')
          .history__counter(data-history-counter)
            span.history__actual(data-history-actual) 01
            span.history__total(data-history-total)= timeline.length < 10 ? ('0' + timeline.length) : timeline.length
          +timeline(timeline)
        .history__content
          +breadcrumbs({list: pageNavigation.breadcrumbs, style: 'dark', className: 'page-nav__breadcrumbs'})
          .history__description
            each period in timeline
              .history__item(data-history=period.preview.anchor, id=period.preview.anchor)
                .history__wyziwig !{period.content.description}
        .history__images(data-history-images)
          each period in timeline
            if period.content.images && period.content.images.length > 0
              each img in period.content.images
                .history__img(data-history-image-item style='background-image: url("'+img.url+'")'
                  id=img.id)
