include ./subscribe-news-popup
-
  var navList = [
    {
      title: 'О компании',
      link: '#',
      nav: [
        {
          name: 'Миссия и ценность связь',
          link: '#'
        },
        {
          name: 'Корпоративное управление',
          link: '#'
        },
        {
          name: 'География',
          link: '#'
        }
      ]
    },
    {
      title: 'Клиентам',
      link: '#',
      nav: [
        {
          name: 'Продукция',
          link: '#'
        },
        {
          name: 'Качество продукции',
          link: '#'
        },
        {
          name: 'Система поддержки клиентов',
          link: '#'
        },
        {
          name: 'Торговая политика',
          link: '#'
        },
        {
          name: 'Торговые представительства',
          link: '#'
        }
      ]
    },
    {
      title: 'Поставщикам',
      link: '#',
      nav: [
        {
          name: 'Продукция',
          link: '#'
        },
        {
          name: 'Качество продукции',
          link: '#'
        },
        {
          name: 'Система поддержки клиентов',
          link: '#'
        },
        {
          name: 'Торговая политика',
          link: '#'
        },
        {
          name: 'Торговые представительства',
          link: '#'
        }
      ]
    },
    {
      title: 'Устойчивое развитие',
      link: '#',
      nav: [
        {
          name: 'Охрана окружающей среды',
          link: '#'
        },
        {
          name: 'Здоровье и охрана труда',
          link: '#'
        },
        {
          name: 'Социальное инвестирование',
          link: '#'
        },
        {
          name: 'Подходы и политики',
          link: '#'
        },
        {
          name: 'Отчёт об устойчивом развитии',
          link: '#'
        }
      ]
    },
    {
      title: 'Карьера',
      link: '#',
      nav: [
        {
          name: 'Вакансии',
          link: '#'
        },
        {
          name: 'Контакты для соискателей',
          link: '#'
        },
        {
          name: 'Работа в компании',
          link: '#'
        },
        {
          name: 'Кадровым агентствам',
          link: '#'
        },
        {
          name: 'Работа с молодёжью',
          link: '#'
        }
      ]
    },
  ]
  var navBottomList = [
    {
      nav: [
        {
          name: 'Проекты развития',
          link: '#'
        },
        {
          name: 'Инновации',
          link: '#'
        },
        {
          name: 'История',
          link: '#'
        },
        {
          name: 'Инвесторам',
          link: '#'
        }
      ]
    },
    {
      nav: [
        {
          name: 'Пресс-центр',
          link: '#'
        },
        {
          name: 'Обратная связь',
          link: '#'
        },
        {
          name: 'Карта сайта',
          link: '#'
        }
      ]
    }
  ]
footer.footer#footer
  .container
    .footer__top.row
      .col-5
        .footer__wrap
          each col, index in navList
            if index+1 <= 2
              .footer__col
                a.footer__title.mb-16(href=col.link)= col.title
                ul.footer__nav
                  each nav in col.nav
                    li.footer__nav-item
                      a.footer__nav-link(href=nav.link)= nav.name
      .col-5
        .footer__wrap
          each col, index in navList
            if index+1 > 2 && index+1 <= 4
              .footer__col
                a.footer__title.mb-16(href=col.link)= col.title
                ul.footer__nav
                  each nav in col.nav
                    li.footer__nav-item
                      a.footer__nav-link(href=nav.link)= nav.name
      .col-2
        .footer__wrap
          each col, index in navList
            if index+1 === 5
              .footer__col
                a.footer__title.mb-16(href=col.link)= col.title
                ul.footer__nav
                  each nav in col.nav
                    li.footer__nav-item
                      a.footer__nav-link(href=nav.link)= nav.name
    .row.mb-32
      .col-12
        .footer__divider
    .row
      .col-5
        .footer__copyright
          .footer__privacy
            p Страница информационного агентства, аккредитованного ЦБ РФ <br>на раскрытие информации, на которой раскрывается информация эмитента
          .footer__company
            p © 2019 РУСАЛ Все права защищены
      .col-5
        .footer__wrap
          each col, index in navBottomList
            .footer__col
              ul.footer__nav
                each nav in col.nav
                  li.footer__nav-item
                    a.footer__nav-link(href=nav.link)= nav.name
      .col-2
        a.footer__title.mb-4(href='#') Контакты
        .footer__privacy.mb-24
          a.footer__nav-link(href='#') Служба «СИГНАЛ»
        ul.footer__social
          li.footer__social-item
            a.footer__social-link(href='#')
              include ../../assets/images/i-social-twitter.svg
          li.footer__social-item
            a.footer__social-link(href='#')
              include ../../assets/images/i-social-facebook.svg
          li.footer__social-item
            a.footer__social-link(href='#')
              include ../../assets/images/i-social-youtube.svg
  +subscribe-news-popup()
