- var lang = 'ru'

block vars

doctype html
html(class=htmlClass id=htmlId lang=lang)
    head
        title
            block title
        block meta
            meta(charset='utf-8')
            meta(name="viewport" content="width = device-width, initial-scale = 1.0")
            link(rel="stylesheet" href="common/style/main.css")
    body(class=bodyClass id=bodyId)
        div#content
            block content
        include scripts